

* {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-y: hidden; 
    overflow-x: hidden; 
}


nav {
    display: flex;
    /* z-index: 1; */
}

nav > img:nth-child(1) {
    width: 100px;
}

.main-div {
    margin-top: 20px;
    margin-left: 80px;
}

.nav-items {
    display: flex;
    margin-left: 240px;
    margin-right: 200px;
    color: #263e75;
    cursor: pointer;
}


.nav-item {
    margin-top: 20px;
    margin-right: 50px;
    z-index: 1;
}


.signin-btn {
    background-image: linear-gradient(to right, #965cf2,#ff8adc);
    color: #ffffff;
    border: none;
    z-index: 1;
    padding: 0px 30px;
    border-radius: 30px;
    cursor: pointer;
}


.left-section {
    float: left;
    margin-right: 850px;
}


.imgs-div {
    float: right;
}


div.extraele {
    width: 990px;
    height: 850px;
    
    background-image: linear-gradient(to right, #c7adf3,#f9b5e5);
    transform: rotate(350deg); 
    border-radius: 150px;
    margin-left: 500px;
    margin-top: -900px;
    z-index: -1; 
    margin-right: -180px;
    scrollbar-width: none; 

    /* background-color: #dfcefb; */
    /* background-image: linear-gradient(to right, #dfcefb,#f9b5e5); */

}




.imgs-div > img:nth-child(4) {
    float: right;
    position: relative;
    margin-top: -420px;
    margin-right: 290px;
    z-index: 1;
    width: 600px;
    height: 500px;
}


.imgs-div > img:nth-child(1) {
    margin-top: 20px;
    margin-left: 400px;
    /* z-index: 1; */
    width: 100px;
    height: 100px;
}


.imgs-div > img:nth-child(2) {
    margin-bottom: 90px;
    margin-right: 100px;
    width: 25px;
    height: 25px;
}



div.left-section > h1 {
    color: #2d4a8d;
    font-size: 50px;
    margin-top: 100px;
}

div.left-section > h4 {
    color: #1f3260;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 40px;
}



.learn-more-btn {
    background-image: linear-gradient(to right, #965cf2,#ff8adc);
    color: #ffffff;
    border: none;
    z-index: 1;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

}















/*

.imgs-div > .img1 {
    float: right; 
    position: relative;
    margin-top: 200px;
    margin-left: 300px;
    /* margin-right: 550px; 
    z-index: 1;
    width: 100px;
    height: 100px;
}

.imgs-div > .img2 {
    float: right; 
     position: absolute; 
    position: relative;
    margin-top: -500px;
    margin-bottom: 80px;
     margin-left: 700px; 
    margin-right: 750px;
    z-index: 1;
    width: 25px;
    height: 25px;
} 

*/


/* .imgs-div > .img1 {
    margin-top: 100px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
}


.imgs-div > .img2 {
    margin-top: 100px;
    margin-left: 100px;
    width: 25px;
    height: 25px;
} */


/* .imgs-div > img:nth-child(2) {
    float: right;
    position: relative;
    margin-top: -430px;
    margin-right: 270px;
    z-index: 1;
    width: 600px;
    height: 500px;
} */





